<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Angular Todo</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/todo">Todo</a></li>
            <li><a href="/accounts/register">Register</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/logout">Logout ({{username}})</a></li>
        </ul>
    </div>
</nav>